# ignore the simulation output files 
*.hdf
*.out

# From the code folders ignore everything that is generated at compile time
/code/Budget/*
!/code/Budget/.vfproj
/code/PreProcessor/*
!/code/PreProcessor/.vfproj
/code/Simulation/*
!/code/Simulation/.vfproj
/code/Simulation_Parallel/*
!/code/Simulation_Parallel/.vfproj
/code/ZBudget/*
!/code/ZBudget/.vfproj